#home-section {
    background-image: url(../assets/home3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-position: center top;

    height: 100vh;
}

#home-section #home-header {
    margin-bottom: 50px;
}

#home-section h1 {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0px;
}

@media (max-width: 768px) {
    #home-section {
        background-position: -55% center;
    }
}
