.invalidInput {
  display: none;
  font-size: 15px;
  color: red; }

.visibleInvalidInput {
  display: block; }

.validInput, .invisibleEmailSent {
  display: none;
  font-size: 15px;
  color: green; }

.visibleValidInput {
  display: block; }

.invisibleElement {
  display: none; }
