.navbar {
    padding-left: 8% !important;
    padding-right: 8% !important;
    background-color: transparent;
    top: 0px;
    transition: top 1s linear;
}

.hideNav {
    top: -100px;
}

.navbar {
    background-color: white;
    color: #60CEC4 !important;
    box-shadow: none !important;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}

.nav-link {
    color: #60CEC4 !important;
}

@media (min-width: 768px) {
    nav a:after {
        height: 2px;
        width: 0%;
        display: block;
        content: ' ';
        background-color: white;
        transition: width 0.5s;
    }
    nav a:hover:after {
        width: 100%;
    }
    nav a.navbar-brand:after {
        content: none;
    }
}
